body{
    text-decoration: none;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    color: #333;
}
/* buttons design (taken from css base) */
.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
    align-items: center;
  }

  button {
    padding: 10px 20px;
    background-color: #7f6e19;
    color: white;
    border: none;
    border-radius: 17.5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #7c9636;
  }
#search {
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    flex-grow: 1;
    max-width: 500px;
  }
